# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Scripts directory
scripts/**/*
!scripts/*.sh

# FFmpeg layer
layers/ffmpeg/bin/**/*
!layers/ffmpeg/bin/.gitkeep

# FFmpeg downloaded files
ffmpeg-*-amd64-static*